html,
body {
    width: 366px;
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}

button {
    border: none;
    width: 96%;
    margin: 4px;
    padding: 4px;
    text-align: center;
    font-size: 1.25em;
    cursor: pointer;
    background-color: #dfdfdf;
    /* background-color: #a5e4fc; */
}

button:hover {
    background-color: #c6c6c6;
    /* background-color: #5bcefa; */
}

#popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
}