a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0;
}


html,
body {
    width: auto;
    background-color: #f9f9f9;
}

.hidden {
    display: none;
}

button {
    border: none;
    width: 166px;
    margin: 4px;
    padding: 4px;
    text-align: center;
    font-family: arial;
    font-size: 1.25em;
    font-weight: 400;
    color: black;
    cursor: pointer;
    /* Base color, changed by class */
    background-color: #dfdfdf;
}

/* Base button colors */
button:hover {
    background-color: #c6c6c6;
}

#popup-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
    display: flex;
}


/* Male colors */
button.column1 {
    background-color: #a5e4fc;
}

button.column1:hover {
    background-color: #5bcffb;
}

/* Female colors */
.column2 {
    background-color: #fad7de;
}

.column2:hover {
    background-color: #f5abb9;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: arial;
    color: #666666;

    margin: 4px auto;
}